

<% if current_user.admin? %>
  <h4> Merge Articles </h4>
  <%= form_tag({:action => "merge", :id => (@article.nil? ? -1 : @article.id)}) do %>
    Article ID <%= text_field_tag "merge_with" %>
    <input type="submit" value="Merge">
  <% end %>
<% end %>
